// ### Primary
$Purple: hsl(259, 100%, 65%);
$Light-red: hsl(0, 100%, 67%);

// ### Neutral
$White: hsl(0, 0%, 100%);
$Off-white: hsl(0, 0%, 94%);
$Light-grey: hsl(0, 0%, 86%);
$Smokey-grey: hsl(0, 1%, 44%);
$Off-black: hsl(0, 0%, 8%);

$Font-size: 32px; // (inputs)
$Output-font-size: 5rem; // (outputs)

$font-weights: (
    "regular":400,
    //in italics
    "medium":700,
    "bold-italic":800 //in italics
);

*,
*::before,
*::after {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    height: 100vh;
    background-color: $Off-white;
    font-family: 'Poppins', sans-serif;
}

@mixin flex($justify-content, $align-items) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin in-between-viewports() {
    @media screen and (max-width:883px) {
        @content;
    }
}

@mixin mobile() {
    @media screen and (max-width:650px) {
        @content;
    }
}

.hero-container {
    // border: 2px solid yellow;
    width: 60%;
    margin: 10% auto;
    padding: 3em;
    background-color: $White;
    border-radius: 30px 30px 30% 30px;

    @include mobile() {
        width: 90%;
        margin-top: 20%;
    }
}

.input {
    // border: 2px solid pink;
    width: 67.5%;
    @include flex(space-between, center);

    @include in-between-viewports() {
        width: 100%;
    }

    div {
        // border: 2px solid hotpink;

        p {
            color: $Smokey-grey;
            text-transform: uppercase;
            letter-spacing: 1px;
            padding-bottom: 0.5em;
            @include mobile(){
                font-size: 13px;
            }
        }

        input {
            border: none;
            outline: 2px solid $Light-grey;
            border-radius: 5px;
            width: 85%;
            font-size: $Font-size;
            padding: 0.4em 0.6em;
            cursor: pointer;
            font-family: inherit;

            &:hover,
            &:focus {
                outline: 2px solid $Purple;
            }

            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                display: none;
            }

            @media screen and (max-width:1220px) {
                font-size: 1.5rem;
            }
            @include mobile(){
                font-size: 1.25rem;
                padding: 0.4em;
            }
        }

        .error-msg {
            margin-top: 0.5em;
            height: 0.75rem;
            font-weight: map-get($font-weights, regular);
            font-size: 0.75rem;
            font-style: italic;
            color: $Light-red;
            @include mobile(){
                height: 0.65rem;
                font-size: 0.65rem;
            }
        }
    }
}

.seperator {
    // border: 2px solid red;
    margin-top: 1em;
    height: max-content;
    @include flex(none, center);

    @include in-between-viewports() {
        display: block;
        position: relative;
        margin-top: 1.35em;
    }

    hr {
        border: 0;
        outline: 0;
        width: 100%;
        height: 3px;
        background-color: $Light-grey;

        @include in-between-viewports() {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    button {
        border: none;
        aspect-ratio: 1;
        @include flex(center, center);
        padding: 1em;
        border-radius: 100px;
        background-color: $Purple;

        &:hover {
            cursor: pointer;
            background-color: $Off-black;
        }

        @include in-between-viewports() {
            position: relative;
            margin-left: 50%;
            transform: translateX(-50%);
        }

        @include mobile(){
            height: 63px;
        }
    }
}


.output {
    font-size: $Output-font-size;
    font-style: italic;
    font-weight: map-get($font-weights, bold-italic);

    span {
        color: $Purple;
    }

    @include in-between-viewports() {
        font-size: 2.75rem;
    }
}